.git/
.gitignore
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

results/
data/
outputs/
checkpoints/
datasets/

*.mp4
*.avi
*.mov
*.mkv
*.png
*.jpg
*.jpeg
*.gif
*.npz
*.npy
*.pt
*.pth
*.ckpt

MoLe_VLA/wandb/
MoLe_VLA/cogact.egg-info/
lerobot/.venv/
lerobot/.pytest_cache/
lerobot/.mypy_cache/
